/*Общие*/
body {
	font-family: 'Roboto', sans-serif;
}
h1 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
}

/*Шапка*/

.logo {
	display: block;
}
.up_header {
	background: #5290b9;
	padding-top: 13px;
	padding-bottom: 13px;
}
.mid_header {
	padding-top: 25px;
	padding-bottom: 25px;
}
.mid_header h1 {
	padding-left: 25px;
	margin-top: 15px;
}
.info_header {
	font-size: 14px;
	font-weight: 400;
	color: #8d8d8d;
	display: flex;
}
.info_header p {
	margin-left: 7px;
	margin-bottom: 0px; 
}
.info_header i {
	font-size: 14px;
	color: #8d8d8d;
}
.fa {
	width: 14px;
	height: 14px;
	text-align: center;
}


/*Меню*/

.low_header {
	background: #5290b9;
}
.navbar {
	padding: 0;
}
.nav-link {
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
li:hover .dropdown-menu {
	background: #fafafa;
	display: flex;
	border: 0;
}
.dropdown-item {
	font-size: 14px;
	font-weight: 500;
	color: #5290b9;
}

