/*Общие*/
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

ul {
  margin: 0;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
/*Шапка*/
.flex {
  display: flex;
  box-sizing: border-box;
}

.up_header_top_item {
  min-width: 66px;
  padding-left: 30px;
  padding-right: 30px;
}

.up_header_top_item {
  height: 20px;
}

.up_header_top div:nth-child(2) {
  flex-grow: 1;
}

.logo {
  display: block;
  max-width: 100px;
  height: auto;
}

.up_header {
  background: #5290b9;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mid_header_mid {
  max-height: 150px;
  align-items: center;
}

.mid_header_mid div:nth-child(3) {
  margin-left: auto;
}

.mid_header_item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.mid_header_item h1 {
  max-width: 378px;
}

.mid_header_item div:nth-child(2) {
  margin-top: 11px;
  margin-bottom: 11px;
}

.mid_header h1 {
}
.info_header {
  font-size: 14px;
  font-weight: 400;
  color: #8d8d8d;
  display: flex;
}
.info_header p {
  margin: 0;
}
.fa {
  color: #8d8d8d;
  padding-right: 8px;
}
.fa-map-marker:before {
}

.fa-phone:before {
}

.fa-envelope:before {
}

/*Меню*/

.low_header {
  background: #5290b9;
}
.navbar {
  padding: 0;
}
.nav-link {
  width: 140px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.nav-item.dropdown.show {
  width: 140px;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-item a:hover {
  background: #fafafa;
  color: #f66c36;
}
/*li:hover .dropdown-menu {
	background: #fafafa;
	display: flex;
	border: 0;
}*/
.show {
  background: #fafafa;
  color: #f66c36;
  border-bottom: 3px;
  border-radius: 1px;
  background: #fafafa;
  display: flex;
  border: 0;
}
.dropdown-item {
  font-size: 14px;
  font-weight: 500;
  color: #5290b9;
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropdown-menu {
  margin: 0;
  padding: 0;
}
.dropdown-menu.show {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.show .nav-link.dropdown-toggle {
  color: #f66c36;
}
.nav-link.dropdown-toggle.show {
  border-bottom: 3px;
  border-radius: 1px;
}
